<!DOCTYPE html>
<title>VCheckbook - Login</title>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html>
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <!-- Vartical Navbar, visible on medium + screens -->
  <div class="sidebar w3-hide-small">
    <div class="logo-details">
        <div class="logo_name">VCheckbook</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/">
          <i class='fas fa-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
        <a href="/checkbook">
          <i class='fas fa-wallet'></i>
          <span class="links_name">Checkbook</span>
        </a>
         <span class="tooltip">Checkbook</span>
      </li>
      <li>
        <a href="/login">
          <i class='fas fa-user'></i>
          <span class="links_name">Login</span>
        </a>
         <span class="tooltip">Login</span>
      </li>
    </ul>
  </div>

  <!-- Horizontal Navbar, visible on small screens -->
  <div class="w3-hide-medium w3-hide-large">
    <div class="w3-bar w3-center w3-hover-opacity-off">
      <a href="/" class="w3-bar-item w3-button"><i class='fas fa-home'></i> Home</a>
      <a href="/checkbook" class="w3-bar-item w3-button"><i class='fas fa-wallet'></i> Checkbook</a>
      <a href="/login" class="w3-bar-item w3-button"><i class='fas fa-user'></i> Login</a>
    </div>
  </div>

  <!-- Home Section, where all the content goes -->
  <section class="home-section w3-display-container">
      <div class="text w3-center">
        <h1>Login</h1>
        <hr>
        <form action="/login/auth" method="POST">
          <label>Username: </label>
          <input class="login_input" type="text" placeholder="Enter Username Here..." name="Username" required><br><br>
          <label>Password: </label>
          <input class="login_input" type="password" placeholder="Enter Password Here..." name="Password" required><br><br>
          <input class="login_button" type="submit" value="Submit">
        </form>
        <br>
        <h6>Not a user? <a class="login_link" href="/login/register">Register Here!</a></h6><br>
        <!-- Footer -->
        <footer class="w3-text-grey w3-xlarge w3-margin-top">
          <a href="mailto:nicholasrader2018@gmail.com"><i class="fa fa-envelope-open w3-hover-opacity"></i></a>
          <a href="https://github.com/nrader2000" target="_blank"><i class="fab fa-github w3-hover-opacity"></i></a>
          <p class="w3-medium">&copy; 2021 VCheckbook</p>
        </footer>
      </div>
  </section>

  <!-- Inline Scripts -->
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
